{% extends "base.html" %} {% block content %}

    <h4 style="text-align:center">Upload CXR Below</h4>

    <div id="main-app-body">
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label btn btn-primary btn-lg btn-block">
                SELECT CXR IMAGE
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        </form>

        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg" id="btn-detect">Run Scan</button>
                <button type="button" class="btn btn-primary btn-lg" id="btn-localize" style="display:none;">Run
                    Localization
                </button>
            </div>
        </div>

        <button id="loader_ani" class="btn btn-primary btn-lg" type="button" style="display:none;" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Scanning...
        </button>
        <button id="loader_ani_localize" class="btn btn-primary btn-lg" type="button" style="display:none;" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Localizing...
        </button>
        <button id="loader_localized" class="btn btn-primary btn-lg" type="button" style="display:none;" disabled>
            Localized
        </button>


        <div id="result">

        </div>

    </div>

{% endblock %}